<!DOCTYPE html>
<html lang="en">
	<head>
		<title></title>		
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, user-resizable=no" />
		<meta name="author" content="Ruben Labruyere" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />

		<link rel="stylesheet" type="text/css" href="css/style.css" />
	</head>
	<body>
		<canvas id="game" width="640" height="480"></canvas>

		<script src="js/moonflower.js"></script>
		<script src="js/game.js"></script>
	</body>
</html>
